<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<link rel='stylesheet' href='https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css'>
<title>EXELR8</title>
<style type="text/css">

table.dataTable thead {
  background-color: #292b2c;
  color : #f7f7f7;
}

</style>
</head>
<body>
<div class="toast-container position-absolute p-3  bottom-0 end-0" id="toastPlacement">
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id='toaster'>
    <div class="toast-header">
      <strong class="me-auto">Notification</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="text"></p>
    </div>
 </div>
</div>

<!--End View DNA Modal -->


<!-- Company Profile Edit -->
<div class="modal" id="addDNA" sec:authorize="hasAuthority('MASTERADMIN')">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
		<form th:action="@{/companies/addDNA}" id="dnaform" method="POST">
      <!-- Modal body -->
      <div class="modal-body">
            <div class="row m-2">
                <div class="col-xs-2" style="margin-right: auto; margin-left: auto;">
                   <h4 style="text-align: center">PURPOSE</h4>
                   <textarea name="history" class="px-5 form-control"id="purpose" rows="10" cols="100" style="text-align : justify;" placeholder="Enter text here" required></textarea>
                </div>
                <input type="hidden" th:value="${company.id}" name="companyid">
             </div>    
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
      <button type="submit" id="dnasubmit" class="btn btn-success">Save</button>
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
	</form>
    </div>
  </div>
</div>
<div class="modal" id="addCoreValue" sec:authorize="hasAuthority('MASTERADMIN')">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
		<form th:action="@{/companies/addCoreValue}" id="coreform" method="POST">
      <!-- Modal body -->
      <div class="modal-body">
            <div class="row m-2">
                <div class="col-xs-2" style="margin-right: auto; margin-left: auto;">
                   <h4 style="text-align: center">Core Value</h4>
                   <input name="title" class="form-control"id="coretitleedit"style="text-align : justify;" placeholder="Enter title here" required>
                	<textarea class="form-control" rows="3" cols="5" name="description" id="descedit" placeholder="Enter description"></textarea>
                	<textarea type="text" class="form-control" id="indicator" name="indicator" placeholder="Behavioral Indicator"></textarea>
                	<input type="hidden" id="coreid" name="id" value="0">
                	 <input type="hidden" th:value="${company.id}" name="companyid">
                </div>  
             </div>    
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
      <button type="submit" id="dnasubmit" class="btn btn-success">Save</button>
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
	</form>
    </div>
  </div>
</div>

 <div class="modal fade" sec:authorize="hasAuthority('SUPERADMIN')" id="addcompany" tabindex="-1" aria-labelledby="addcompanyModal" aria-hidden="true">
    <div class="modal-dialog">
     <form id="addcomp" th:action="@{/companies/addcompany}" method="POST">
      <div class="modal-content">
        <div class="modal-header">
        	<h5 class="modal-title">Add details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
                <div class="mb-3">
                  <label for="companyname" class="form-label fw-bold">Company name</label>
                  <input type="text" class="form-control" id="company" name="companyname" placeholder="Enter Company Name" required>
                </div>
                <div class="mb-3">
                  <label for="companycolor" class="form-label fw-bold">Company Color</label>
                  <input type="color" class="form-control" id="color" name="companycolor" placeholder="Enter Company Name" required>
                </div>
                <div class="mb-3">
                	<hr>
                	<p>Master Admin Details</p>
                    <label for="firstname" class="form-label fw-bold">Firstname :</label>
                    <input type="text" class="form-control" id="firstname" name="fname" placeholder="Enter Firstname" required>
                  </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label fw-bold">Lastname</label>
                    <input type="text" class="form-control" id="lastname" name="lname" placeholder="Enter Lastname" required>
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label fw-bold">Contact No:</label>
                    <input type="tel" class="form-control" id="contact" name="contact" placeholder="639123456789" pattern="[63]{2}[0-9]{10}" required>
                </div>
                 <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Email Address:</label>
                    <input type="email" class="form-control" id="email" name="useremail" placeholder="sample@gmail.com" required>
                </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="submit" class="btn btn-success">Add</button>
        </div>
      </div>
       </form>
    </div>
  </div>
	<div class="d-flex" id="wrapper">

		<!----Sidebar STARTS here---->

		<div class="bg-dark text-dark" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-3 primary-text fs-4 fw-regular text-left border-bottom"><img th:src="@{/favicon.ico}" width="30px;" style=""><br>EXELR8</div>
			<div class="list-group list-group-flush my-3">
				<a th:href="@{/}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a
					th:href="@{/dashboard/companies}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
					class="fas fa-building me-2"></i>Company</a> <a th:href="@{/dashboard/department}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Department</a> <a
					th:href="@{/dashboard/personnel}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-user-group me-2"></i>Team</a>  <a
					th:href="@{/dashboard/activitylog}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-box me-2"></i>Activity log</a><a
					th:href="@{/dashboard/leaderboard}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-trophy me-2"></i>Leaderboard</a>  <a th:href="@{/dashboard/notification}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-bell me-2"></i>Notifications  <span th:styleappend="${notifcount < 1 ? 'display:none' : ''}" id="notifcount" class="badge bg-danger border border-light rounded-circle p-1" th:text="${notifcount}"></span></a>  <a
					th:href="@{/perform-logout}"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
					class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>


		<!----Sidebar END here---->

		<!-- Page Content -->
		<div class="abc" id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0">Company</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i><span
								sec:authentication="principal.Fullname"></span>
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
								<li><a class="dropdown-item" th:href="@{/profile}">Settings</a></li>
								<li><a class="dropdown-item" th:href="@{/perform-logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid px-3 p-2" sec:authorize="hasAuthority('SUPERADMIN')">
				
				<div class="text-center">
					<button type="button" class="btn btn-success btn"
						data-bs-toggle="modal" data-bs-target="#addcompany">Add
						company</button>
				<a type="button" class="btn btn-info text-white" th:href="@{/dashboard/department}"
						>Add Department</a>
				</div>	
				
				<div
					class="p-3 bg-white shadow-sm justify-content-around align-items-center rounded">
					<div class="" th:if="${totalpage != 0}">
						<table class="table bg-white rounded shadow-sm  table-hover" id="mytable">
							<thead>
								<tr>

									<th scope="col">Company Name</th>
									<th scope="col">Master Admin</th>
									<th scope="col">No of Personnel</th>

								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
					<div class="" th:unless="${totalpage != 0}">
						<h5 class="text-center m-5">No companies found</h5>
					</div>
				</div>
			</div>
			<div class="container-fluid text-center px-3 p-2" sec:authorize="hasAnyAuthority('MASTERADMIN','MANAGER','EXECUTIVE','ASSOCIATE','SUPERVISOR','PROJLEAD')">
			
<div>			
<div class="accordion mx-5" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header text-center" id="panelsStayOpen-headingOne">
      <button  class="accordion-button " th:classappend="${company.dna != null ? '' : 'disabled'}" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <h3><span class="text-center justify-content-center">Purpose</span></h3>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body ">
      		<h3 th:text="${company.dna.history}" id="purposeval"></h3>
			<button type="button" class="btn btn-primary m-2 text-end" id="editbtn" data-bs-target="#addDNA" data-bs-toggle="modal">Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="accordion mx-5 " id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
        <h3><span class="">Core Values</span></h3>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
      	<div class="d-flex text-left flex-wrap justify-content-center">
      		<div class="card text-left p-3 m-2" style="width: 18rem;" th:each="core : ${company.dna.corevalue}">	
      			<h2 class="float-left" th:text="${core.name}"></h2>
      			<p class="" th:text="${core.description}"></p>
      			<div sec:authorize="hasAnyAuthority('MASTERADMIN','SUPERADMIN')">
      				<button class="btn btn-success btn-sm corebtn" th:title="${core.name}" th:ind="${core.indicator}" th:desc="${core.description}" th:id="${'core' + core.id}" th:cid="${core.id}" data-bs-target="#addCoreValue" data-bs-toggle="modal"><i class="fa-solid fa-pen"></i></button>
      			</div>
      			
      		</div>
      	</div>
      	<button class="btn btn-primary" sec:authorize="hasAnyAuthority('MASTERADMIN','SUPERADMIN')" data-bs-target="#addCoreValue" data-bs-toggle="modal"> Add Core Value</button>
    </div>
  </div>
</div>
</div>
<div class="d-flex mx-5">



	<div class="container ">
		<h2 class="m-4">Departments</h2>
		 <div class="p-2">
            	
            	<table class="table table-striped" id="depttable">
            		<thead>
            			<tr>
            				<th>Name</th>
            				<th>Company</th>
            				<th>Team Members</th>
            				<th>Action</th>
            			</tr>
            		</thead>
            		<tbody>
            		
            		</tbody>
            	</table>
            </div>    
		
	</div>

</div>			
			
			</div>

		</div>

	</div>
</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		var el = document.getElementById("wrapper");
		var toggleButton = document.getElementById("menu-toggle");

		toggleButton.onclick = function() {
			el.classList.toggle("toggled");
		};
	</script>
	<script type="text/javascript" th:inline="javascript" sec:authorize="!hasAuthority('SUPERADMIN')">
const company = /*[[${company.compname}]]*/"";
console.log(company);
</script>
	<script th:src="@{/js/company.js}"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
		<script type="text/javascript" th:src="@{/js/notif.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>