<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@1,900&family=Poppins&display=swap"
	rel="stylesheet">


<link rel='stylesheet' href='https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css'>
<link rel="stylesheet" href="css/style.css">
<title>EXELR8</title>

</head>
<body>
<div class="toast-container position-absolute p-3  bottom-0 end-0" id="toastPlacement">
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id='toaster'>
    <div class="toast-header">
      <strong class="me-auto">Notification</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="text"></p>
    </div>
 </div>
</div>
	<div class="d-flex" id="wrapper">

		<!----Sidebar STARTS here---->

		<div class="bg-dark text-dark" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-3 primary-text fs-4 fw-regular text-left border-bottom"><img th:src="@{/favicon.ico}" width="30px;" style=""><br>EXELR8</div>
		     <div class="list-group list-group-flush my-3">
				<a th:href="@{/}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a
					th:href="@{/dashboard/companies}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Company</a> <a th:href="@{/dashboard/department}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Department</a> <a
					th:href="@{/dashboard/personnel}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-user-group me-2"></i>Team</a>  <a
					th:href="@{/dashboard/activitylog}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-box me-2"></i>Activity log</a>  <a
					th:href="@{/dashboard/leaderboard}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-trophy me-2"></i>Leaderboard</a> <a th:href="@{/dashboard/notification}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-bell me-2"></i><span>Notifications  <span th:styleappend="${notifcount < 1 ? 'display:none' : ''}"  id="notifcount" class="badge bg-danger border border-light rounded-circle p-1" th:text="${notifcount}"></span> </span></a>  <a
					th:href="@{/perform-logout}"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
					class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>


		<!----Sidebar END here---->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0" sec:authorize="hasAuthority('SUPERADMIN')">
						Welcome, <span sec:authentication="principal.Rolename"></span>
					</h2>
					<h2 class="fs-2 m-0" sec:authorize="!hasAuthority('SUPERADMIN')">
						Welcome, <span sec:authentication="principal.Fullname"></span>
					</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i><span
								sec:authentication="principal.Fullname"></span>
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
								<li><a class="dropdown-item" th:href="@{/profile}">Settings</a></li>
								<li><a class="dropdown-item" th:href="@{/perform-logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid px-4">
				<div class="row g-3 my-2">
					<div class="col-md-3"
						sec:authorize="hasAnyAuthority('ASSOCIATE','MASTERADMIN','SUPERVISOR','MANAGER','EXECUTIVE','PROJLEAD')">
						<div
							class="p-3 bg-warning shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${assignedtome}">0</h3>
								<p class="fs-6 fw-bold text-white">Task Assigned</p>
							</div>
							<i class="fas fa-list fs-1  p-3 text-white"></i>
						</div>
					</div>
					<div class="col-md-3" sec:authorize="hasAuthority('SUPERADMIN')">
					<a th:href="@{/dashboard/companies}" style="text-decoration:none;">
						<div
							class="p-3 bg-warning shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${companycount}"></h3>
								<p class="fs-6 fw-bold text-white">Total Company</p>
							</div>
							<i class="fas fa-building fs-1 p-3 text-white"></i>
						</div>
					</a>
					</div>

					<div class="col-md-3" >
					<a th:href="@{/dashboard/personnel}" style="text-decoration:none;">
						<div
							class="p-3 bg-success shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${usercount}" sec:authorize="hasAuthority('SUPERADMIN')"></h3>
								<h3 class="fs-2 text-white" th:text="${usercompcount}" sec:authorize="!hasAuthority('SUPERADMIN')"></h3>
								<p class="fs-6 fw-bold text-white">Total Associates</p>
							</div>
							<i class="fas fa-user-group fs-1  p-3 text-white"></i>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<div id="overduebtn"
							class="p-3 bg-danger shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" sec:authorize="hasAuthority('SUPERADMIN')" th:text="${overduecount}">2</h3>
								<h3 class="fs-2 text-white" sec:authorize="hasAuthority('MASTERADMIN')" th:text="${companyoverdue}">2</h3>
								<h3 class="fs-2 text-white" sec:authorize="!hasAnyAuthority('MASTERADMIN', 'SUPERADMIN')" th:text="${myoverdue}">2</h3>								
								<p class="fs-6 fw-bold text-white" sec:authorize="hasAnyAuthority('SUPERADMIN','MASTERADMIN')">Overdue</p>
								<p class="fs-6 fw-bold text-white" sec:authorize="!hasAnyAuthority('SUPERADMIN','MASTERADMIN')">My Overdue</p>
							</div>
							<i class="fas fa-triangle-exclamation fs-1 p-3 text-white"></i>
						</div>
					</div>
					<div class="col-md-3" sec:authorize="!hasAuthority('SUPERADMIN')">
						<div id="dailybtn"
							class="p-3 bg-primary shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" sec:authorize="hasAuthority('MASTERADMIN')" th:text="${dailycomp}">2</h3>
								<h3 class="fs-2 text-white" sec:authorize="!hasAuthority('MASTERADMIN')" th:text="${mydaily}">2</h3>								
								<p class="fs-6 fw-bold text-white" sec:authorize="hasAuthority('MASTERADMIN')">Daily Task</p>
								<p class="fs-6 fw-bold text-white" sec:authorize="!hasAuthority('MASTERADMIN')">My Daily Task</p>
							</div>
							<i class="fas fa-calendar-check fs-1 p-3 text-white"></i>
						</div>
					</div>
					<div class="col-md-3" sec:authorize="hasAuthority('SUPERADMIN')" >
						<div id="tardybtn"
							class="p-3 bg-info shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${#lists.size(tardyuser)}">2</h3>
								<p class="fs-6 fw-bold text-white">Daily Check-in</p>
							</div>
							<i class="fa-solid fa-business-time text-white fs-1 p-3"></i>
							
							
						</div>
					</div>
				</div>

				<div class="row my-2">

				<div style="display:none;" id="tardysection">
					<div class="col" th:if="${#lists.size(tardyuser) > 0}"
						sec:authorize="hasAuthority('SUPERADMIN')" >
						<h2 class="text-center m-2">People who didn't create a task before 9am today</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2 w-100"
							id="mytable">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Full Name</th>
									<th scope="col">Company</th>
									
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${#lists.size(tardyuser) > 0}"
						sec:authorize="hasAnyAuthority('SUPERADMIN')">
						<i class="fa-solid fa-business-time fa-4x p-3"></i>
						<h5 class="text-center my-5">Personnel's who didn't able to create a daily task before 9am will be shown here</h5>
					</div>
				</div>
				
				<div id="overduesection">
					<div class="col" th:if="${overduecount > 0}" sec:authorize="hasAuthority('SUPERADMIN')">
						<h2 class="text-center m-2 text-danger">Overdues</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2"
							id="overduetbl">
							<thead>
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Full Name</th>
									<th scope="col">Role</th>
									<th scope="col">Task Name</th>
									<th scope="col">Since</th>
									
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${overduecount > 0}" sec:authorize="hasAuthority('SUPERADMIN')"
						>
						<i class="fa-solid fa-4x my-5 fa-face-laugh text-center"></i>
						<h5 class="text-center m-2">Yay! No Overdue Tasks</h5>
					</div>
					<div class="col" th:if="${companyoverdue > 0}" sec:authorize="hasAuthority('MASTERADMIN')">
						<h2 class="text-center m-2">Overdues</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2"
							id="overduetbl">
							<thead>
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Full Name</th>
									<th scope="col">Role</th>
									<th scope="col">Task Name</th>
									<th scope="col">Since</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${companyoverdue > 0}" sec:authorize="hasAuthority('MASTERADMIN')"
						>
						<i class="fa-solid fa-4x my-5 fa-face-laugh text-center"></i>
						<h5 class="text-center m-2">Yay! No Overdue Tasks</h5>
					</div>
					<div class="col" th:if="${myoverdue > 0}" sec:authorize="!hasAnyAuthority('MASTERADMIN','SUPERADMIN')">
						<h2 class="text-center m-2">Overdues</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2"
							id="overduetbl">
							<thead>
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Full Name</th>
									<th scope="col">Role</th>
									<th scope="col">Task Name</th>
									<th scope="col">Since</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${myoverdue > 0}" sec:authorize="!hasAnyAuthority('SUPERADMIN','MASTERADMIN')"
						>
						<i class="fa-solid fa-4x my-5 fa-face-laugh text-center"></i>
						<h5 class="text-center m-2">Yay! No Overdue Tasks</h5>
						<p class="text-muted">Notice: SUPERADMIN checks if you created a task before 9am except Sundays	. Please make sure you create one everyday before 9am</p>
					</div>
					
				
				</div>
				<div style="display:none;" id="mydailysection">
					<div class="col" th:if="${mydaily > 0}"
						sec:authorize="!hasAuthority('MASTERADMIN')" >
						<h2 class="text-center m-2">Daily Tasks</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2 w-100"
							id="dailytable">
							<thead>
								<tr>
								    <th scope="col">Department</th>
									<th scope="col">Full Name</th>
									<th scope="col">Task Name</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${mydaily > 0}"
						sec:authorize="!hasAuthority('MASTERADMIN')">
						<i class="fa-solid fa-face-laugh-wink fa-4x"></i>
						<h5 class="text-center my-5">Nice! No tasks! How about creating one?</h5>
												<p class="text-muted">Notice: SUPERADMIN checks if you created a task before 9am except Sundays. Please make sure you create one everyday before 9am</p>
						
					</div>
					<div class="col" th:if="${dailycomp > 0}"
						sec:authorize="hasAuthority('MASTERADMIN')" >
						<h2 class="text-center m-2">Daily Tasks</h2>
						<table class="table bg-white rounded shadow-sm table-hover m-2 w-100"
							id="dailytable">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Full Name</th>
									<th scope="col">Task Name</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5 text-center" th:unless="${dailycomp > 0}"
						sec:authorize="hasAuthority('MASTERADMIN')">
						<i class="fa-solid fa-face-surprise fa-4x"></i>
						<h5 class="text-center my-5">No tasks? Try assigning some to your subordinate or yourself</h5>
					</div>
				</div>	
					
				</div>

			</div>
		</div>
		<!-- /#page-content-wrapper -->


	</div>



	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
		<script type="text/javascript" th:src="@{/js/notif.js}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
		<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script>
		var el = document.getElementById("wrapper");
		var toggleButton = document.getElementById("menu-toggle");

		
		toggleButton.onclick = function() {
			el.classList.toggle("toggled");
		};
	</script>
	<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
	<script>
	
		$(document).ready(function(){
			
			$("#tardybtn").click(function(){
				$("#overduesection").css("display","none");
				$("#tardysection").css("display","block");
				$("#mydailysection").css("display","none");
				
			});
			$("#overduebtn").click(function(){
				$("#overduesection").css("display","block");
				$("#tardysection").css("display","none");
				$("#mydailysection").css("display","none");
				
			});
			$("#dailybtn").click(function(){
				$("#mydailysection").css("display","block");
				$("#overduesection").css("display","none");
				$("#tardysection").css("display","none");
				
			});
			
		});
	
	</script>
</body>
</html>