<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@1,900&family=Poppins&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<title>EXELR8</title>

</head>
<body>
	<div class="d-flex" id="wrapper">

		<!----Sidebar STARTS here---->

		<div class="bg-dark text-dark" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-3 primary-text fs-4 fw-regular text-left border-bottom"><img th:src="@{/favicon.ico}" width="30px;" style=""><br>EXELR8</div>
		     <div class="list-group list-group-flush my-3">
				<a th:href="@{/}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a
					th:href="@{/dashboard/companies}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Company</a> <a th:href="@{/dashboard/department}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Department</a> <a
					th:href="@{/dashboard/personnel}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-user-group me-2"></i>Personnel</a> <a
					th:href="@{/dashboard/task/mytask}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-list-check me-2"></i>Task</a> <a
					th:href="@{/dashboard/activitylog}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-box me-2"></i>Activity log</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-bell me-2"></i>Notification</a>  <a
					th:href="@{/perform-logout}"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
					class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>


		<!----Sidebar END here---->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0">
						Welcome, <span sec:authentication="principal.Rolename"></span>
					</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i><span
								sec:authentication="principal.Fullname"></span>
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
								<li><a class="dropdown-item" th:href="@{/profile}">Settings</a></li>
								<li><a class="dropdown-item" th:href="@{/perform-logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid px-4">
				<div class="row g-3 my-2">
					<div class="col-md-3"
						sec:authorize="hasAnyAuthority('RANKANDFILE','MASTERADMIN')">
						<div
							class="p-3 bg-warning shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white">0</h3>
								<p class="fs-6 fw-bold text-white">Task Assigned</p>
							</div>
							<i class="fas fa-list fs-1  p-3 text-white"></i>
						</div>
					</div>
					<div class="col-md-3" sec:authorize="hasAuthority('SUPERADMIN')">
						<div
							class="p-3 bg-warning shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${companycount}"></h3>
								<p class="fs-6 fw-bold text-white">Total Company</p>
							</div>
							<i class="fas fa-building fs-1 p-3 text-white"></i>
						</div>
					</div>

					<div class="col-md-3" sec:authorize="hasAuthority('SUPERADMIN')">
						<div
							class="p-3 bg-success shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${usercount}"></h3>
								<p class="fs-6 fw-bold text-white">Total Personel</p>
							</div>
							<i class="fas fa-user-group fs-1  p-3 text-white"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div
							class="p-3 bg-danger shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" th:text="${overduecount}">0</h3>
								<p class="fs-6 fw-bold text-white">Overdue Task</p>
							</div>
							<i class="fas fa-triangle-exclamation fs-1 p-3 text-white"></i>
						</div>
					</div>
					<div class="col-md-3">
						<div
							class="p-3 bg-primary shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2 text-white" sec:authorize="hasAuthority('SUPERADMIN')" th:text="${dailies}">2</h3>
								<h3 class="fs-2 text-white" sec:authorize="hasAuthority('MASTERADMIN')" th:text="${dailycomp}">2</h3>
								<h3 class="fs-2 text-white" sec:authorize="!hasAnyAuthority('MASTERADMIN', 'SUPERADMIN')" th:text="${mydaily}">2</h3>								
								<p class="fs-6 fw-bold text-white" sec:authorize="hasAnyAuthority('SUPERADMIN','MASTERADMIN')">Daily Task</p>
								<p class="fs-6 fw-bold text-white" sec:authorize="!hasAnyAuthority('SUPERADMIN','MASTERADMIN')">My Daily Task</p>
							</div>
							<i class="fas fa-calendar-check fs-1 p-3 text-white"></i>
						</div>
					</div>
				</div>

				<div class="row my-5">

					<div class="container my-3">
						<div class="dropdown">
							<button type="button" class="btn btn-primary dropdown-toggle"
								style="float: right;" data-bs-toggle="dropdown">
								Overview</button>
							<h3 class="fs-4 mb-3">Dashboard</h3>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item active" href="#">Overview</a></li>
								<li><a class="dropdown-item" href="#">Completed Task</a></li>
								<li><a class="dropdown-item" href="#">Overdue</a></li>
							</ul>
						</div>
					</div>
					<div class="col" th:if="${view != 0}"
						sec:authorize="hasAuthority('SUPERADMIN')">
						<table class="table bg-white rounded shadow-sm  table-hover"
							id="view">
							<thead>
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Department</th>
									<th scope="col">Title Task</th>
									<th scope="col">Date Started</th>
									<th scope="col">Deadline</th>
									<th scope="col">Progress</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5" th:unless="${view != 0}"
						sec:authorize="hasAnyAuthority('SUPERADMIN')">
						<h5 class="text-center m-5">There are currently no assigned
							tasks within the department</h5>
					</div>
					<div class="col" th:if="${compqview != 0}"
						sec:authorize="hasAnyAuthority('MASTERADMIN','RANKANDFILE','EXECUTIVE','MANAGER')">
						<table class="table bg-white rounded shadow-sm  table-hover"
							id="compqview">
							<thead>
								<tr>
									<th scope="col">Company</th>
									<th scope="col">Department</th>
									<th scope="col">Title Task</th>
									<th scope="col">Date Started</th>
									<th scope="col">Deadline</th>
									<th scope="col">Progress</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div class="col m-5" th:unless="${compqview != 0}"
						sec:authorize="hasAnyAuthority('MASTERADMIN','RANKANDFILE','EXECUTIVE','MANAGER')">
						<h5 class="text-center m-5">There are currently no assigned
							tasks within your company's departments</h5>
					</div>
				</div>

			</div>
		</div>
		<!-- /#page-content-wrapper -->


	</div>




	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		var el = document.getElementById("wrapper");
		var toggleButton = document.getElementById("menu-toggle");

		toggleButton.onclick = function() {
			el.classList.toggle("toggled");
		};
	</script>

</body>
</html>