<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<title>EXELR8</title>
</head>
<body>
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="margin-top: 100px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  
                  <div class="panel-body" th:if="${token != null}">
                    <form id="register-form" th:action="@{/resetresult}" role="form" autocomplete="off" class="form" method="post">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key icon color-blue"></i></span>
                          <input id="newPassword" name="password" placeholder="New Password" class="form-control"  type="password">
                        </div><br>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key icon color-blue"></i></span>
                          <input id="retypePassword" name="retypePassword" placeholder="Retype Password" class="form-control"  type="password">
                        </div>
                      </div>
                      <input type="hidden" class="hide" name="token" id="token" th:value="${token}"> 
                      <div class="form-group">
                        <input name="recover-submit" id="submit" class="btn btn-lg btn-primary btn-block" style="background:#198754;" value="Reset Password" type="submit">
                      </div>
                      
                      
                    </form>
    
                  </div>
                  <div th:unless="${token != null}">
                      <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Invalid Token. Please create another request
                                      </p>
                                      <a th:href="@{/forgot-pass/reset}" style="background:#198754;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Reset
                                            Password</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>
<script th:src="@{/js/resetpass.js}"></script>
</html>