<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/jquery.mentionsInput.css}">

<title>EXELR8</title>

</head>
<body>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p class="m-2">Are you sure you want to delete this task? This
						cannot be undone.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="deletetask">Confirm</button>
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- Remove Member Modal -->
	<div class="modal fade" id="exampleModalCenter3" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p class="m-2">Are you sure you want to kick this member?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="confirmdelete">Confirm</button>
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- Add Members Modal -->
	<div class="modal fade" id="adddeptuser" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="adddeptuserform">
					<div class="modal-header">
						<h5 class="modal-title">Add Member</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" th:value="${department.deptname}" id="deptid">
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Members
								:</label>
							<textarea type="text" class="mention3" id="mention"
								style="height: 50px;" placeholder="Type @ names(s) to add"></textarea>
						</div>



					</div>
					<div class="modal-footer">
						<button type="submit" id="submit3" class="btn btn-success">Add</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Never mind</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Add more detail modal -->
	<div class="modal fade" id="adddetail" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="detailform" method="POST">
					<div class="modal-header">
						<h5 class="modal-title">Add Task detail</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Verb</label>
							<input type="text" class="form-control" name="detail"
								id="verb" placeholder="What to do?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Number</label>
							<input type="number" class="form-control" name="detail"
								id="number" placeholder="How many?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Input</label>
							<input type="text" class="form-control" name="detail"
								id="what" placeholder="Input" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Deadline</label>
							<input type="date" name="tedate" id="date" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="submit" class="btn btn-success">Add
							Task</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Quick/ Multi Assign -->
	<div class="modal fade" id="multitask" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="addform" method="POST">
					<div class="modal-header">
						<h5 class="modal-title">Add Task</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" th:value="${department.id}" id="deptid2">
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Verb</label>
							<input type="text" class="form-control" name="detail"
								id="verb3" placeholder="What to do?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Number</label>
							<input type="number" class="form-control" name="detail"
								id="number3" placeholder="How many?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Task</label>
							<input type="text" class="form-control" name="detail"
								id="what3" placeholder="Item" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Deadline</label>
							<input type="date" name="tedate" id="date3" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Whom</label>
							<textarea type="text" class="form-control" name="detail"
								id="who" placeholder="For whom?(Type @ or Leave empty to assign to yourself)"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="submit3" class="btn btn-success">Add
							Task</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editdetail" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="editform">
					<div class="modal-header">
						<h5 class="modal-title">Edit Task detail</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Verb</label>
							<input type="text" class="form-control" name="detail"
								id="verb2" placeholder="What to do?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Number</label>
							<input type="number" class="form-control" name="detail"
								id="number2" placeholder="How many?" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Input</label>
							<input type="text" class="form-control" name="detail"
								id="what2" placeholder="Input" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputLastName" class="form-label fw-bold">Deadline</label>
							<input type="date" name="tedate" id="date2" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="submit2" class="btn btn-success">Save
							Changes</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
<div class="toast-container position-fixed p-3 bottom-0 end-0" id="toastPlacement" style="z-index: 11">
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id='undo'>
    <div class="toast-header">
      <strong class="me-auto" id="notiftitle">Notification</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="undotext"></p>
      <button class="btn btn-secondary" id="undobtn">Undo</button>
    </div>
 </div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id='toaster'>
    <div class="toast-header">
      <strong class="me-auto">Notification</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="text"></p>
    </div>
 </div>
</div>
	
	<div class="d-flex" id="wrapper">

		<!----Sidebar STARTS here---->

		<div class="bg-dark text-dark" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-3 primary-text fs-4 fw-regular text-left border-bottom">
				<img th:src="@{/favicon.ico}" width="30px;" style=""><br>EXELR8
			</div>
			<div class="list-group list-group-flush my-3">
				<a th:href="@{/}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a
					th:href="@{/dashboard/companies}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-building me-2"></i>Company</a> <a
					th:href="@{/dashboard/department}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
					class="fas fa-building me-2"></i>Department</a> <a
					th:href="@{/dashboard/personnel}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-user-group me-2"></i>Team</a> <a
					th:href="@{/dashboard/activitylog}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-box me-2"></i>Activity log</a><a
					th:href="@{/dashboard/leaderboard}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-trophy me-2"></i>Leaderboard</a>  <a th:href="@{/dashboard/notification}"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fas fa-bell me-2"></i>Notifications  <span th:styleappend="${notifcount < 1 ? 'display:none' : ''}" id="notifcount" class="badge bg-danger border border-light rounded-circle p-1" th:text="${notifcount}"></span></a> <a
					th:href="@{/perform-logout}"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
					class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>


		<!----Sidebar END here---->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0" th:text="${department.deptname}">Department
						Name</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i><span
								sec:authentication="principal.Fullname"></span>
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
								<li><a class="dropdown-item" th:href="@{/profile}">Settings</a></li>
								<li><a class="dropdown-item" th:href="@{/perform-logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<div class="row p-2">
					<div class="col-sm-8">
						<div class=" row p-2 my-2">
							<div class="col-sm-4">
								<div
									class="p-3 bg-primary shadow-sm d-flex justify-content-around align-items-center rounded">
									<div>
										<h3 class="fs-2 text-white" th:text="${dailycount}">0</h3>
										<p class="fs-6 fw-bold text-white">Tasks</p>
									</div>
									<i class="fas fa-list fs-1  p-3 text-white"></i>
								</div>
							</div>
							<div class="col-sm-4">
								<div
									class="p-3 bg-danger shadow-sm d-flex justify-content-around align-items-center rounded">
									<div>
										<h3 class="fs-2 text-white" th:text="${overduecount}">0</h3>
										<p class="fs-6 fw-bold text-white">Overdues</p>
									</div>
									<i class="fas fa-triangle-exclamation fs-1 p-3 text-white"></i>

								</div>
							</div>
							<div class="col-sm-4">
								<div
									class="p-3 bg-success shadow-sm d-flex justify-content-around align-items-center rounded">
									<div>
										<h3 class="fs-2 text-white" th:text="${department.usercount}">0</h3>
										<p class="fs-6 fw-bold text-white">Team</p>
									</div>
									<i class="fas fa-user-group fs-1  p-3 text-white"></i>
								</div>
							</div>
							
						</div>
						
						
					
											
						<div id="tasks" class="d-flex  flex-wrap my-2 mx-2 float-left"
							>
							<div class="card w-100">
							
								<div class=" border w-100">
									
									<div class="d-flex">
									<div class="text-left w-100">
										<h3 class="m-3 text-left">Tasks</h3>
									</div>
									<div class="text-end w-100 m-0" th:if="${deptuser != null || currUser.role() == 'SUPERADMIN'}">
										<button type="button" id="framebtn" data-bs-target="#multitask" data-bs-toggle="modal" class="btnadd border m-2">
											<i class="fa fa-plus-circle" style="color: #009d63"></i> New Task
										</button>
										
									</div>
									<div class="text-end  w-100 m-0" th:if="${deptuser != null || currUser.role() == 'SUPERADMIN'}">
										<a th:href="@{/department/{department}/trash(department=${department.id})}" type="button" id="framebtn" class="btnadd border m-2 text-danger" style="text-decoration: none;">
											<i class="fa-solid fa-trash-can text-danger"></i> Archives
										</a>
									</div>
										
									</div>
									
								
								</div>
								
								<div class="" style="display: block; height: 350px; overflow-y: auto;">
									<div class=" m-1" th:each="user : ${users}">
										<div
											th:styleappend="${'background-color:' + user.user.companycolor()}">
											<h5 class="m-2 p-2 text-white">
												<a th:text="${user.user.fullname()}" class="text-white" th:href="@{/profile/{id}(id=${user.user.id})}"></a>
											</h5>

										</div>
										<table class="table">
											<thead>
												<tr>
													<th>Task Detail</th>
													<th>Task Deadline</th>
													<th>Assigned By</th>
													<th class="text-end">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="daily : ${user.user.dailies}"
													th:if="${!daily.done && !daily.deleted && daily.department.id == department.id}" th:id="${'row' + daily.id}" th:rid="${daily.id}"
													th:classappend="${daily.until < today ? 'bg-danger text-white' : ''}">
													<td th:text="${daily.description}"></td>
													<td
														th:text="${'(' + #temporals.dayOfWeekNameShort(daily.until) + ') '  + #temporals.monthNameShort(daily.until) + ' ' + #temporals.day(daily.until)}"></td>
													<td th:text="${daily.assignedby.fullname()}" th:id="${'assign' + daily.assignedby.id}" th:aid="${daily.assignedby.id}"></td>
													<td class="text-end">
														<button class="btn btn-success btn-sm donebtn" th:id="${'taskdone' + daily.id}" th:uid="${user.user.id}" th:did="${daily.id}" th:aid="${daily.assignedby.id}">
															<i class="fa-solid fa-check"></i>
														</button>
														<button class="btn btn-warning btn-sm editbtn" th:id="${'edittask' + daily.id}" th:uid="${user.user.id}" th:did="${daily.id}" data-bs-toggle="modal" data-bs-target="#editdetail">
															<i class="fa-solid fa-pen-to-square"></i>
														</button>
														<button class="btn btn-danger btn-sm deletebtn" th:id="${'task' + daily.id}" th:uid="${user.user.id}" th:did="${daily.id}">
															<i class="fa-solid fa-xmark"></i>
														</button>
													</td>
													
												</tr>

												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-4 card">
						<h3 class="m-3">TEAM MEMBERS</h3>
						<table class="table-striped table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Role</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="users : ${users}">
									<td ><a th:text="${users.user.fullname()}" th:href="@{/profile/{id}(id=${users.user.id})}"></a></td>
									<td>
										<th:block>
											<p th:text="${users.user.role()}"></p>
										</th:block>
									</td>
									<th:block >
										<td
											sec:authorize="hasAnyAuthority('MASTERADMIN','SUPERADMIN')">
											<button class="btn btn-danger kickbtn"
												th:id="${'kick' + users.user.id}" th:dep="${department.id}"
												th:kid="${users.user.id}"
												
												data-bs-toggle="modal" data-bs-target="#exampleModalCenter3">
												<i class="fa-solid fa-xmark"></i>
											</button>
										</td>
										<td
											sec:authorize="!hasAnyAuthority('MASTERADMIN','SUPERADMIN')">
											<button class="btn btn-danger disabled" 
												data-bs-toggle="modal">
												<i class="fa-solid fa-xmark"></i>
											</button>
										</td>
									</th:block>
								</tr>
								<tr class="text-center">
									
										<td colspan="4" sec:authorize="hasAnyAuthority('MASTERADMIN','SUPERADMIN')"><button
												class="btn btn-success btn-sm" data-bs-toggle="modal"
												data-bs-target="#adddeptuser" id="adduser">+ Member</button></td>
												
									
								</tr>
							</tbody>

						</table>
								
					</div>
				</div>
			</div>



		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		var el = document.getElementById("wrapper");
		var toggleButton = document.getElementById("menu-toggle");

		toggleButton.onclick = function() {
			el.classList.toggle("toggled");
		};
	</script>
	<script type="text/javascript" th:inline="javascript">
const company = /*[[${department.companyname}]]*/"";
console.log(company);
</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script th:src="@{/js/jquery.mentionsInput.js}"></script>
	<script th:src="@{/js/jquery.elastic.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.events.input.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/js/viewdepartment.js}"></script>
	<script>
	let kickid = 0;
	let deptid = 0;
	$(".kickbtn").click(function() {
		kickid = $(this).attr("kid");
		deptid = $(this).attr("dep");

	});
	</script>
	<script th:src="@{/js/notif.js}"></script>
</body>
</html>